div{
    background-color: bisque;
    padding: 10px;
    margin-bottom: 10px;
}
div{
    ul{
        list-style: circle;
    }
}

#gihun{
    height: 300px;
    width: 450px;
    padding: 20px;
    background-color: blueviolet;
}